.attention-please,
#file-edit-link {
  -webkit-box-shadow: #fc00ff 0 0 12px;
  -moz-box-shadow: #fc00ff 0 0 12px;
  box-shadow: #fc00ff 0 0 12px;
}
#file-edit-link {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}