.comment-preview {
  position: relative;
}
.comment-preview .comment {
  background-color: #FFFACC;
}
.comment-preview + form .previewable-comment-form {
  margin-top: -2px;
}
.comment-preview + .reply .formatting {
  font-size: 90%;
}
.comment-preview .summary {
  background: none !important;
}

#files .file,
#readme {
  display: block !important;
}

body.edit-preview #file-edit-link {
  font: 12px helvetica,arial,freesans,clean,sans-serif;
}
body.edit-preview #file-edit-link span {
  line-height: 25px;
}