.comment-preview,
.comment-preview + form {
  background-color: #FFFACC;
  border-bottom-width: 0;
}
.comment-preview A,
.comment-preview + form A {
  color: #41809d;
}
.comment-preview + .reply .formatting {
  font-size: 90%;
}
.comment-preview .summary {
  background: none !important;
}

#files .file,
#readme {
  display: block !important;
}

body.edit-preview #file-edit-link {
  font: 12px helvetica,arial,freesans,clean,sans-serif;
}
body.edit-preview #file-edit-link span {
  line-height: 25px;
}